<div class="container mb-4">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4 mb-4">
      <div class="card text-center shadow">
        <div class="card-header font-italic">
          <% if @article.user %>
            by <%= link_to @article.user.username, user_path(@article.user) %>
            <%= link_to gravatar_for(@article.user, size: 80), user_path(@article.user) %>
          <% end %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= @article.title %></h5>
          <div class="card-text text-left">
            <%= simple_format(@article.description) %>
          </div>
          <% if logged_in? && (@article.user == current_user || current_user.admin? ) %>
            <%= link_to 'Edit', edit_article_path(@article),class: "btn btn-outline-info" %>
            <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
          <% end %>
        </div>
        <div class="card-footer text-muted">
          <small> Created <%= time_ago_in_words(@article.created_at) %> ago, edited <%= time_ago_in_words(@article.updated_at) %>  ago
          </small>
        </div>
      </div>
    </div>
  </div>
</div>
