<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Account Assigner", root_path, class:"navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" datatoggle="collapse" data-target="#navbarSupportedContent" ariacontrols="navbarSupportedContent" aria-expanded="false" arialabel="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">

      </li>
      <li class="nav-item">
        <%= link_to "Accounts", accounts_path, class:"nav-link" %>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#"id="navbarDropdown" role="button" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">
          Management
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if logged_in? && current_user.admin? %>
            <div class="dropdown-divider"></div>
            <%= link_to "Add an account", new_category_path, class:"dropdown-item" %>
            <%= link_to "Update an account", new_category_path, class:"dropdown-item" %>
            <%= link_to "Remove an account", new_category_path, class:"dropdown-item" %>
          <% end %>
        </div>
      </li>

      <% if logged_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#"id="navbarDropdown" role="button" data-toggle="dropdown"aria-haspopup="true" aria-expanded="false">
            <%= "(ADMIN)" if current_user.admin? %> <%= current_user.username %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "View profile", user_path(current_user), class:"dropdown-item" %>
            <%= link_to "Edit profile", edit_user_path(current_user), class:"dropdown-item" %>
            <%= link_to "Log out", logout_path, class:"dropdown-item", method: :delete %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Log in", login_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", signup_path, class: "nav-link" %>
        </li>
      <% end %>
  </div>
</nav>
